.basecolor{
    background-color: #68020F;
}
.accentcolor{
    color:#F21137;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navtitle{
    font-size: 25px;
}
.homecontainer {
    /* position: relative; */
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.thin{
    font-weight: 300;
}
.bold{
    font-weight: 500;
}
.smallthumb{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
#hometitle{
    font-size: 50px;
}
#homesubtitle{
    font-size: 35px;
}
#testq{
    padding-left: 15px;
}
.submitbutton{
    margin-right: 5px;
}
#d_feedback{
    margin-bottom: 20px;
}
.header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header2{
    font-size: 20px;
    font-weight: bold;
}
.subtitle{
    font-size: 30px;
    font-weight: bold;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fireanswer{
    background-color: lightgrey;
    background-clip: content-box;
    padding: 10px;
    height: 300px;
}
.imagerow{
    height: 300px;
    width: auto;
    padding: 10px;
}
.learnimg{
    height: 300px;
    width: 100%;
    object-fit: contain;
}
#nextbutton{
    /* position: absolute;
    right:    0; */
    padding-left: 40px;
    padding-right: 40px;
}

#successMessage{
    text-align: center;
}
#firebuilt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.sidenav{
    padding-left:0px;
}
#introlink{
    padding-top: 10px;
    padding-bottom: 5px;
}
.nav a, .nav label {
    display: block;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    color: black;
  }
  .nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
    background: lightgrey;
  }
  .nav label { cursor: pointer; }
  
  .group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { 
    background: lightgrey; }

  .sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { 
    background: lightgrey; }
  
  .group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
    color: #68020F;
  }
  .nav__list input[type=checkbox]:checked + label + ul { 
  max-height: 1000px; }
  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
    color: #68020F;
  }
  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #68020F;
  }
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
    color: black;
    background-color: lightgrey;
    border-color: lightgrey;
}
.startbuttons{
    margin: 5px;
}
#next{
    margin-top: 10px;
}
#begin{
    margin-top: 10px;
}

.highlight_correct{
    background-color: rgba(0, 128, 0, 0.555);
}

.highlight_wrong{
    background-color: #f2113685;
}
