body{
    font-family: 'Roboto', sans-serif;
}
.navtitle{
    font-size: 25px;
}
.homecontainer {
    /* position: relative; */
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.thin{
    font-weight: 300;
}
.bold{
    font-weight: 500;
}
.smallthumb{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
#hometitle{
    font-size: 50px;
    /* text-align: center; */
}
#homesubtitle{
    font-size: 35px;
    /* text-align: center; */
}
.header{
    font-size: 20px;
    font-weight: bold;
}
.subtitle{
    font-size: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #start{
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
} */
.fireanswer{
    background-color: lightgrey;
    background-clip: content-box;
    padding: 10px;
    height: 300px;
}
.imagerow{
    height: 300px;
    width: auto;
    padding: 10px;
}
.learnimg{
    height: 300px;
    width: 100%;
    object-fit: contain;
}
#nextbutton{
    /* position: absolute;
    right:    0; */
    padding-left: 40px;
    padding-right: 40px;
}

