<head type="text/css" media="print">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
    <style type="text/css">
        @media print {
            .noprint {
                display: none;
            }

        }
    </style>
    <style>
        a {
            text-decoration: none
        }
        .break {height: 12px;}
    </style>
</head>

<body>
    <div style="width:800px; height:500px; padding:20px; text-align:center; border: 15px solid #68020F;;">
        <div style="width:750px; height:450px; padding:20px; text-align:center; border: 5px solid darkgray;background-color: white;">
            <span style="font-size:50px; font-weight:bold;">Certificate of Achievement</span>
            <br><br><div class="row break"></div>
            <span style="font-size:25px;color: darkgray"><i>This is to certify that</i></span>
            <br><div class="row break"></div>
            <span style="font-size:30px"><b>Richard Roe</b></span><br /><div class="row break"></div>
            <span style="font-size:25px;color: darkgray"><i>has successfully completed the course of</i></span> <br /><br />
            <span style="font-size:32px;color:#F21137;">Distress Signaling</span> <br /><div class="row break"></div>
            <span style="font-size:20px;color: lightgray;">with a score of <b>{{grade}}%</b></span> <br /><br /><div class="row break"></div>
            <span style="font-size:40px;font-weight: bolder;font-family: 'MonteCarlo', cursive,serif;">RBTW
                Academy</span><br />
            <span style="font-size:20px;color: darkgray;">
                <script>
                    date = new Date().toLocaleDateString();
                    document.write(date);
                </script><i> dated</i>
            </span><br>


        </div>
    </div>

    <div class="noprint">
        <button><a href="{{'/'}}">Go to homepage</a></button>
        <button onclick="window.print()">print your certificate</button>
    </div>

</body>