<head type="text/css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
    <style type="text/css">
        @media print {
            .noprint {
                display: none;
            }

        }
    </style>
    <style>
        a {
            text-decoration: none
        }
    </style>
</head>

<body>
    <div style="width:800px; height:500px; padding:20px; text-align:center; border: 10px solid #787878">
        <div style="width:750px; height:450px; padding:20px; text-align:center; border: 5px solid #787878">
            <span style="font-size:50px; font-weight:bold">Certificate of Achievement</span>
            <br><br>
            <span style="font-size:25px"><i>This is to certify that</i></span>
            <br><br>
            <span style="font-size:30px"><b>You</b></span><br /><br />
            <span style="font-size:25px"><i>have successfully completed the course of</i></span> <br /><br />
            <span style="font-size:30px">Distress Signaling</span> <br /><br />
            <span style="font-size:20px">with a score of <b>{{grade}}%</b></span> <br /><br />
            <span style="font-size:40px;font-weight: bolder;font-family: 'MonteCarlo', cursive,serif;">RBTW
                Academy</span><br />
            <span style="font-size:25px">
                <script>
                    date = new Date().toLocaleDateString();
                    document.write(date);
                </script><i> dated</i>
            </span><br>


        </div>
    </div>

    <div class="noprint">
        <button><a href="{{'/'}}">Go to homepage</a></button>
        <button onclick="window.print()">print your certificate</button>
    </div>

</body>