<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Distress Signaling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Distress Signaling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LEARN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/learn/introduction">Introduction</a>
              <a class="dropdown-item" href="/learn/maritime/intro">Maritime</a>
              <a class="dropdown-item" href="/learn/wilderness/intro">Wilderness</a>
              <a class="dropdown-item" href="/learn/streets/intro">Streets</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/test/homepage">TEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/record">RECORD</a>
          </li>
          <li class="nav-item">
            <a href= "{{'/log_in'}}" id="log-in-btn" style="float:right" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
          </li>
          <li class="nav-item">
            <a href= "{{'/sign_up'}}" id="sign-up-btn" style="float:right" class="btn btn-outline-success my-2 my-sm-0">Sign Up</a>
          </li>
        </ul>  
      </div>
    </nav>
    <div class="container " >   
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

