{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
    <script>
        let page_info = {{page_info|tojson}}
        let learning_data = {{learning_data|tojson}}
        let next_category = next_category
        let next_subcategory = next_subcategory
        console.log(next_category)
        console.log(next_subcategory)
    </script>

    <div class = "container">
        <div class="row subtitle">{{page_info.page_title}}</div>
        <div id = "infoblock1"></div><br>
        <div id = "infoblock2"></div><br>
        <div id = "infoblock3"></div><br>
        <div id = "media"></div>  <br>
        <div id = "next" class = "row">
            <a href= "{{'/test/homepage'}}" id ="test" class="btn btn-outline-secondary" role="button" aria-disabled="true">Go to test</a>
            <a href= "{{'/learn/%s/%s'|format(next_category,next_subcategory)}}" id ="nextbutton" class="btn btn-outline-secondary" role="button" aria-disabled="true">Next</a>
        </div>   
    </div>
{% endblock %}

