{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'miniquiz.js') }}"></script>
<script>
    let page_info = {{page_info|tojson}}
    console.log(page_info)
</script>

<div id = "testq" class="container">

    <div class = "row subtitle">{{page_info.page_title}}</div>
    <div class = "row">
        <form id="quiz_answer" class="form-inline">
            <div class = "container">
            <div class = "row">
                <p id="rad" >{{page_info.question}}<br></p>
            </div>
            <div id = "submitbuttons" class = "row">
                <input id = "submitonly" class = "submitbutton" type="submit" value="Submit" disabled>
                <input class = "submitbutton" type="button" id="give-up" value="Give up?">
            </div>
        </div>
        </form>
    </div>
    <div class = "row">
        <div id="d_correct" style="font-weight: bold"></div><br>
    </div>
    <div class = "row">
        <div id="d_feedback" style="color: darkgrey"></div><br>
    </div>
    <div id = "nextq" class = "row">
        <a href= "{{'/test/homepage'}}" id ="test" class="btn btn-outline-secondary" role="button" aria-disabled="true">Go to test</a>
        <a href= "{{'/learn/%s/%s'|format(next_category,next_subcategory)}}" id ="nextbutton" class="btn btn-outline-secondary" role="button" aria-disabled="true">Next</a>
    </div>

</div>
{% endblock %}
