{% extends 'layout.html' %}


{% block content %}

{{ super() }}


<div class="row">
    <div class="col-md-12 header">
        <h2>Create a new account</h2>
    </div>
</div>

<form id="new-form" novalidate>
<!-- <form id="new-form" action="/add_item" method="POST" novalidate> -->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name</label>
        <div class="col-sm-4" id="form-un">
            <input type="text" class="form-control" id="input-un" name="username" placeholder="user name" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4" id="form-psw">
            <input type="text" class="form-control" id="input-psw" name="password" placeholder="password" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-4" id="form-age">
            <input type="number" min="1" max="99" class="form-control" id="input-age" placeholder="num" required>
        </div>
    </div>

        <div class="form-group row">
        <label class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-4" id="form-name">
            <input type="text" class="form-control" id="input-gender" name="gender" placeholder="gender" required>
        </div>
    </div>



{#    <div class="form-group row">#}
{#        <label class="col-sm-2 col-form-label">Description</label>#}
{#        <div class="col-sm-10" id="form-description">#}
{#            <textarea class="form-control" id="input-description" rows="3" placeholder="description" required ></textarea>#}
{#            <div class="invalid-feedback">#}
{#                Please provide a detailed description.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}