{% extends "layout.html" %}

{% block content %}

<style>
    .header {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(23, 64, 139);
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="header row">Test Result</div>
            <div class="subheader row">Congratulations! You got {{result}}/5 questions correct! You now know what to do should an emergency occur.</div>
            <div class="row"><img src="https://www.mysafetysign.com/img/lg/S/safety-starts-with-you-reminder-sign-s2-1635.png" width="450px"  alt="Safety Starts With You"></a></div>
            <div id="begin" class="row">
                <a href='/certificate' id="nextbutton"
                    class="btn btn-outline-secondary" role="button" aria-disabled="true">Certificate of Completion</a>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}