{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'test.js') }}"></script>
<script>
    let one = {{one|tojson}}
    console.log(one)
</script>

<div class="container">

    <h3>Question {{one.id}} out of 5</h3>

    <form id="quiz_answer" class="form-inline">

        <!-- <P><BR>
            <input type="radio" name="choices" value="a">{{one.a}}<BR>
            <input type="radio" name="choices" value="b">{{one.b}}<BR>
            <input type="radio" name="choices" value="c">{{one.c}}<BR>
            <input type="radio" name="choices" value="d">{{one.d}}<BR>
        </p> -->

        <p id="rad">{{one.question}}<BR></p>

        <br>
        <br>

        <input type="submit" value="Submit">
        <input type="button" id="give-up" value="Give up?">
        <div id="d_buttons"></div>
    </form>
    <div id="d_correct"></div>
    <div id="d_feedback"></div>
    <a href= "{{'%s'|format(next_page)}}" id ="nextbutton" class="btn btn-outline-secondary" role="button" aria-disabled="true">Next</a>
</div>
</div>
{% endblock %}
